<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/sessions">Сеансы</a></li>
            <li><a href="/afisha">Афиша</a></li>
            <li><a href="/register">Регистрация</a></li>
            <li><a href="/login">Вход</a></li>
            <li><a href="/my_account">Мой аккаунт</a></li> 
        </ul>
    </nav>
    <div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>