{% extends "base.html" %}

{% block lab %}Лабораторная работа 4{% endblock %}

{% block main %}
    <style>
        body {
            background-color: #1e365c;
        }

    </style>

    <h1 class="fridge-text">Холодильник</h1>
    <form class="fridge" method="post">
        <label class="fridge-label-input" for="temperature">Температура:</label>
        <input class="fridge-label-input" type="number" id="temperature" name="temperature" value="{{ temperature }}">
        <button class="fridge-button" type="submit">Установить температуру</button>
    </form>
    {% if message %}
        <p class="fridge-temperature">{{ message }}</p>
    {% endif %}
{% endblock %}