{% extends "base.html" %}

{% block lab %}Список лабораторных{% endblock %}

{% block main %}
    <h1>Список лабораторных работ</h1>
    <div>
        <div>
        <a class="list" href="/lab1">Лабораторная 1</a>
        </div>
        <div>
        <a class="list" href="/lab2">Лабораторная 2</a>
        </div>
        <div>
        <a class="list" href="/lab3">Лабораторная 3</a>
        </div>
        <div>
        <a class="list" href="/lab4">Лабораторная 4</a>
        </div>
        <div>
            <a class="list" href="/lab5">Лабораторная 5</a>
        </div>
        <div>
            <a class="list" href="/lab6">Лабораторная 6</a>
        </div>
        <div>
            <a class="list" href="/lab7">Лабораторная 6</a>
        </div>
    </div>
{% endblock %}