{% extends 'base.html' %}

{% block content %}
<form method="POST">
    <h1>Страница регистрации</h1>
    <div>
        <label for="username">Логин</label>
        <input type="text" name="username" placeholder="Введите логин">
    </div>
    <div>
        <label for="password">Пароль</label>
        <input type="password" name="password" placeholder="Введите пароль">
    </div>
    <button type="submit">Зарегистрироваться</button>
    <!-- Реализуйте вывод ошибок. Например: -->
    <div class="error">{{errors}}</div>
</form>
{% endblock %}